.button {
    display: inline-block;
    
    background-color: #247a18;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 12px 32px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
     
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -12px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 17px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 