 
<br>
<br>
<br>
<br>

<h4 *ngIf="error">{{error}}</h4>
<form #registerForm="ngForm" (ngSubmit)="register(user)">
  <div class="form-group col-3">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="user.email" />
  </div>
  <div class="form-group col-3">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="user.password" />
  </div>
  <div class="form-group col-3">
        <button type="submit" class="button" style="vertical-align:middle"><span>Se connecter</span></button>
  </div>
</form>
                    
                   